.container
	.row
		.col-sm-12
			= link_to 'Automatic', new_user_path, class: 'btn btn-primary btn-lg btn-block'
	.row
		.col-sm-12
			= link_to 'Manual', new_user_stop_path(2), class: 'btn btn-primary btn-lg btn-block'
	/ .row
	/ 	.col-sm-12
	/ 		= link_to 'Automatic', new_user_path, class: 'btn btn-primary btn-lg btn-block'