.container
	.row
		.col-xs-12
			= link_to 'Automatic', new_user_path, class: 'btn btn-primary btn-lg btn-block'
	.row
		.col-xs-12
			= link_to 'Automatic', new_user_path, class: 'btn btn-primary btn-lg btn-block'
	.row
		.col-xs-12
			= link_to 'Automatic', new_user_path, class: 'btn btn-primary btn-lg btn-block'