%h1 All Stops

%ul
	- @stops.each do |stop|
		%li{id: "#{stop.id}", class: 'btn btn-default btn-primary btn-block get-loc', onclick: 'getSingleLoc(this.id)', :data =>{:uid => @user.id, :sid => stop.id}} "#{stop.stop_name}"