.container
	.row
		.col-xs-12
			%button.btn.btn-primary.btn-lg.btn-block.start{onclick: 'getLocationUpdate();'} Start 
			%button.btn.btn-primary.btn-lg.btn-block.stop{onclick: 'stopWatch();'} stop
		%h1.times

