.container
	.row
		.col-xs-12
			%button.btn.btn-primary.btn-lg.btn-block.start{onclick: 'getLocationUpdate()', :data =>{:id => @user.id}} Start 
			%button.btn.btn-primary.btn-lg.btn-block.stop{onclick: 'stopWatch()'} stop
	.row
		.col-xs-12
			%div.alert.alert-success 
				%h3
					<span class='times'>0</span> records have been added

